h3 {
    color: #5f7538 !important
}

h2 {
    color: #3d6148 !important
}

section.content a.btn {
    background: #8EA06E
}

section.content a.btn:hover {
    background: #3D6148;
    color: #fff
}

header {
    background: #8EA06E url(../../../../media/site_assets/0fc0bc4fc8e9246497acf2bba7e6be20/assets/tree_bark50.png) top center repeat;
    padding: 12px 0;
    padding-top: 73px
}

header .logo img {
    margin: 0 0 -104px 0
}

nav ul.primary {
    margin: -1 0 0 225px
}

@media only screen and (max-width: 767px) {
    header .logo img {
        margin: 0
    }
}

header .logo img {
    z-index: 1;
    position: relative
}

nav ul.primary li a {
    font-size: .95em
}

.block {
    float: left
}

.subnav ul.secondary li a.active {
    color: #f7d736
}

.subnav ul.secondary li a:hover {
    color: #f7d736
}

.top-bar .social ul li a img {
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 2px;
    -moz-background-clip: padding-box;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    display: inline;
    height: 40px;
    width: auto;
    border: 1px solid #D1D1D1;
    border-radius: 5px
}

.top-bar {
    padding: 2px 0
}

#contact-us_row-12054 .container {
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    padding-top: 20px
}

#contact-us_row-12054 .container .widget {
    padding-left: 10px;
    padding-right: 10px
}

#links_row-12051 .container {
    border-radius: 10px 10px 10px 10px;
    background-color: #fff;
    padding-top: 20px
}

#links_row-12051 .container .widget {
    padding-left: 10px;
    padding-right: 10px
}

#learning_row-12049 .container {
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    padding-top: 20px
}

#learning_row-12049 .container .widget {
    padding-left: 10px;
    padding-right: 10px
}

#new-patients_row-12042 .container {
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    padding-top: 20px
}

#new-patients_row-12042 .container .widget {
    padding-left: 10px;
    padding-right: 10px
}

#services_row-12025 .container {
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    padding-top: 20px
}

#services_row-12025 .container .widget {
    padding-left: 10px;
    padding-right: 10px
}

#conditions_row-12055 .container {
    border-radius: 10px 10px 10px 10px;
    background-color: #fff;
    padding-top: 20px
}

#conditions_row-12055 .container .widget {
    padding-left: 10px;
    padding-right: 10px
}

#doctors_row-12024 .container {
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    padding-top: 20px
}

#doctors_row-12024 .container .widget {
    padding-left: 10px;
    padding-right: 10px
}

#home_row-11485 .container {
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    padding-top: 20px
}

#home_row-11485 .container .widget {
    padding-left: 10px;
    padding-right: 10px
}

#about-us_row-13389 .container {
    border-radius: 10px 10px 10px 10px;
    background-color: #fff;
    padding-top: 20px
}

#about-us_row-13389 .container .widget {
    padding-left: 10px;
    padding-right: 10px
}

#about-us_row-13389 a {
    text-decoration: none
}

#contact-us_row-12052 .container {
    background-color: #fff;
    padding-top: 20px
}

#contact-us_row-12052 .container .widget {
    padding-left: 10px;
    padding-right: 10px
}

#learning_row-12047 .container {
    background-color: #fff;
    padding-top: 20px
}

#learning_row-12047 .container .widget {
    padding-left: 10px;
    padding-right: 10px
}

#new-patients_row-12045 .container {
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    padding-top: 20px
}

#new-patients_row-12045 .container .widget {
    padding-left: 10px;
    padding-right: 10px
}

#services_row-12026 .container {
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    padding-top: 20px
}

#services_row-12026 .container .widget {
    padding-left: 10px;
    padding-right: 10px
}

#doctors_row-46345 .container {
    border-radius: 0 0 0 0;
    background-color: #fff;
    padding-top: 20px
}

#doctors_row-46345 .container .widget {
    padding-left: 10px;
    padding-right: 10px
}

#home_row-11491 .container {
    background-color: #fff;
    padding-top: 10px
}

#home_row-11491 .container .widget {
    padding-left: 10px;
    padding-right: 10px
}

#contact-us_row-12053 .container {
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    padding-top: 20px
}

#contact-us_row-12053 .container .widget {
    padding-left: 10px;
    padding-right: 10px
}

#learning_row-12048 .container {
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    padding-top: 20px
}

#learning_row-12048 .container .widget {
    padding-left: 10px;
    padding-right: 10px
}

#learning_row-12048 ol {
    list-style: none;
    margin-left: 0
}

#learning_row-12048 ol > li {
    width: 100%;
    float: left
}

#learning_row-12048 ol > li > h2:first-child {
    display: block;
    padding: 10px;
    background-color: #E2D6CA;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px
}

#learning_row-12048 ol > li > h2:first-child:hover {
    background-color: #ded3c7
}

#home_row-11496 .container {
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    padding-top: 20px
}

#home_row-11496 .container .widget {
    padding-left: 10px;
    padding-right: 10px
}

#home_row-11496 h2 {
    font-size: 1.8em
}

#contact-us_block-22110 {
    background: #8EA06E;
    border: 1px solid #5A6B36;
    padding: 18px 0 1px 2px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px
}

#contact-us_block-22110 h3, #contact-us_block-22110 p, #contact-us_block-22110 strong {
    color: #fff !important
}

#contact-us_block-22110 h3 {
    color: #f7d736 !important
}

#contact-us_block-22110 p {
    line-height: 156%
}

#contact-us_block-22113 {
    background: #eee3af;
    border: 1px solid #B8B182;
    padding: 18px 10px 1px 10px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px
}

#home_block-21018 {
    background: #eee3af;
    border: 1px solid #B8B182;
    padding: 18px 12px 1px 12px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px
}

#new-patients_block-22095 {
    background: #8EA06E;
    border: 1px solid #5A6B36;
    padding: 18px 0 1px 2px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px
}

#new-patients_block-22095 h3, #new-patients_block-22095 p, #new-patients_block-22095 strong {
    color: #fff !important
}

#new-patients_block-22095 h3 {
    color: #f7d736 !important
}

#new-patients_block-22095 p {
    line-height: 156%
}

#new-patients_block-22099 {
    background: #eee3af;
    border: 1px solid #B8B182;
    padding: 18px 10px 1px 10px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px
}

#home_block-21041 {
    background: #8EA06E;
    border: 1px solid #5A6B36;
    padding: 18px 0 1px 2px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px
}

#home_block-21041 h3, #home_block-21041 p, #home_block-21041 strong {
    color: #fff !important
}

#home_block-21041 h3 {
    color: #f7d736 !important
}

#home_block-21041 p {
    line-height: 156%
}

#home_block-21605 {
    background: #eee3af;
    border: 1px solid #B8B182;
    padding: 18px 4px 1px 10px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px
}

#learning-4999_block-22105_text-widget-13268 ol {
    list-style: none;
    margin-left: 0
}

#learning-4999_block-22105_text-widget-13268 ol > li {
    width: 100%;
    float: left
}

#learning-4999_block-22105_text-widget-13268 ol > li > h2:first-child {
    display: block;
    padding: 10px;
    background-color: #E2D6CA;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px
}

#learning-4999_block-22105_text-widget-13268 ol > li > h2:first-child:hover {
    background-color: #ded3c7
}

#contact-us-5001_block-22110_text-widget-13274 {
    margin-top: 100px
}
